In [8]:
import pandas as pd
import numpy as np

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data, columns=['calories', 'duration'])
df

   calories  duration
0       420        50
1       380        40
2       390        45

array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
      dtype=[('a', '<i4'), ('b', '<i4'), ('c', '<i4')])