In [2]:
import pandas as pd

data = pd.read_csv('C:\Users\DavidEttinger02\Downloads\\AMZN.csv')

In [7]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,21.000000,21.000000,21.000000,21.000000,21.000000,2.100000e+01
mean,1594.441430,1604.997628,1587.326660,1598.927618,1598.927618,3.136981e+06
std,19.359467,17.933848,21.361558,18.863317,18.863317,7.277459e+05
min,1560.010010,1574.800049,1546.020020,1572.079956,1572.079956,2.115600e+06
25%,1581.329956,1592.050049,1573.000000,1581.760010,1581.760010,2.642600e+06
50%,1595.000000,1606.949951,1587.829956,1601.540039,1601.540039,3.067900e+06
75%,1604.000000,1614.119995,1600.150024,1609.079956,1609.079956,3.443600e+06
max,1637.030029,1646.729980,1635.089966,1641.540039,1641.540039,5.077500e+06

In [11]:
% matplotlib
data.Close.plot()

Using matplotlib backend: Qt5Agg

In [19]:
data = pd.read_csv('C:\Users\DavidEttinger02\Downloads\\AMZN.csv')
data = data.set_index('Date')
data = data.drop(columns = ['Volume'])

In [22]:
% matplotlib
from pylab import *
style.use('ggplot')
xkcd()
data.plot()

Using matplotlib backend: Qt5Agg